<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Word Count Result:</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
        <h3>Your result is:</h3>
            <p class="result-style">Inputted Word: <span class="word"> {{ inputted_word }}</span></p>
            <p class="result-style">Inputted Sentence: <span class="word"> {{ inputted_sentence }}</span></p>
            <p class="result-count">Word Count: {{ word_count }}</p>
        </div>
    </body>
</html>
